.navbar{
  color: #ffffff;
  background-color: #800020 ;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: bold;
  height:37px;
}


.txt1{
  margin-top: 10px;
  position: relative;
display: inline-block;

}

.logo{
  float:left;
  margin-top: -17px;
}

.aca{
  margin-left: 380px;
  width: 120px;
  float:left;

}

.rea{
  width: 120px;
  float:left;

}

.campuslife{
  width: 140px;
  float:left;

}

.others{
  width: 200px;
  float:left;
  position: relative;
display: inline-block;

}


.who{
  width: 150px;
  position: relative;
display: inline-block;

}

body {
  font-size: 14px;
  font-family: "libre baskerville";
  margin: 0;
  padding: 0;
}

.academic {
  opacity: 0.9;
  height: 500px;
  width: 1400px;
}



.why{
  text-align: center;
  height: 400px;
  font-weight: bold;
  width : 1400px;
  font-size: 30px;
  margin-top: -25px;
}

.reason{
  margin-top: 20px;
}

.schools{
  width : 1400px;
  height: 500px;
  text-align: center;

  font-size: 14px;
}

.lifetxt1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 39px;
  width:1400px;
  height: 30px;
}

.sklrow{
  height:1400px;
  height:500px;
}

.skldes{
  float:left;
  width:350px;
  height: 440px;
  font-weight: bold;
  position: relative;
  font-size: 20px;
  border-width: thin;

}




#effect:hover {
  background-image: url("picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

#effect:hover .title {
  color:white;
  background-color: #800020;
  opacity: .5;
  margin: 10px;
  margin-top: -10px;
}


#effect:hover .skltxt {
  display: none;
}

#effect:hover .buttonrow1 {
  position: absolute;
  bottom: 0;

}

#effectolin:hover {
  background-image: url("olinpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
#effectolin:hover .title {
  color:white;
  background-color: #800020;
  opacity: .5;
  margin: 10px;
  margin-top: -10px;
}


#effectolin:hover .skltxt {
  display: none;
}

#effectolin:hover .buttonrow1 {
  position: absolute;
  bottom: 0;

}

#effecteng:hover {
  background-image: url("engi.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}


#effecteng:hover .skltxt {
  display: none;
}
#effecteng:hover .title {
  color:white;
  background-color: #800020;
  opacity: .5;
  margin: 10px;
  margin-top: -10px;
}

#effecteng:hover .buttonrow1 {
  position: absolute;
  bottom: 0;

}

#effectsam:hover {
  background-image: url("samfox.png");
  background-size: cover;
  background-repeat: no-repeat;

}


#effectsam:hover .skltxt {
  display: none;
}

#effectsam:hover .buttonrow1 {
  position: absolute;
  bottom: 0;

}
#effectsam:hover .title {
  color:white;
  background-color: #800020;
  opacity: .5;
  margin: 10px;
  margin-top: -10px;
}



.skltxt{
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color: black;
  height: 200px;
  padding: 50px;
  margin: 10px;
  text-align:center;
  margin-top: -10px;
}




.buttonrow1{
  width:350px;
  height:50px;
}


.button {
  position: relative;
  background-color: #800020;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.life{
  width : 1400px;
  height: 500px;
}

.lifetxt2{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 39px;
  width:1400px;
  height: 30px;
}


.lifeinfo{
  margin-top: 60px;
  width:1400px;
  height: 400px;
}

.social{
  margin-left:100px;
  width: 400px;
  height: 400px;
  float:left;
  text-indent: 10px;
}

#rankdes{
  background-color: #800020;
  color:white;
  text-indent: 10px;
  font-size: 20px;
}

.media{
  width:400px;
  margin-left: 100px;
  float:left;
}

.youtube{
  width: 660px;
  height: 319px;
  border-style: solid;
}

.footer{
  color:white;
  width: 1400px;
  height: 70px;
}

.row1{
  width: 1400px;
  height: 45px;
  background-color: #800020;

}

.endb4{
  margin-top: 15px;

  margin-left: 123px;
  float:left;
  position: relative;
}

.End{
  text-align: center;
  background-color: #800020;
  width:1400px;
  height:25px;
  border-top: solid;
  border-color: black;
  padding-top: 6px;
}


@media only screen and (max-width: 481px) {
  .navbar{
    width: 461px;
    height: 40px;
  }

  .txt1 *{
display:none;  }

  .academic {
    width: 461px;
    height: 164.6428571px;
  }

  .academic *{
    width: 461px;
    height: 164.6428571px;
  }

  .why{
    width: 461px;
    height: 200px;
    font-size: 15px;
    margin-top: 10px;
  }

  .reason img{
    height:110px;
    margin: 3px;
    margin-left:-10px;
  }

.flag {
  width: 461px;
  height:120.1892857px;
}

.flag *{
  width: 461px;
  height:120.1892857px;
}

.schools {
  width:461px;
  height: 164.6428571px;
}

.sklrow *{
  width:100px;
  height:auto;
  font-size: 12px;
  }
.skltxt{
  display:none;
}
.button{
  width :80px;
  height: 30px;
  font: 9px;
  margin-top: 10px;
  padding: 5px;
}

.lifetxt1 {
  width:461px;
  height:5px;
  font-size: 15px;
}


.bdpic{
  width:461px;
  height: 170.57px;
}

.bdpic *{
  width:461px;
  height: 170.57px;
}

.footer{
  width:461px;
  height:auto;
}

.life{
  width:461px;
  height:auto;
}

.lifetxt2{
  font-size: 15px;
  width:461px;
  height:10px;
}

.lifeinfo{
  width:461px;
  height:300px;
}

.social{
  margin-left: 10px;
  font: 12px;
  margin-top: -20px;
  height: 310px;
}

.media{
display:none;}


.row1{
  display:none;
}


.footer{
  width:461px;
  height:auto;
  font-size: 8px;
  position: absolute;

}
.End {
  width:461px;
  height:auto;
  font-size: 8px;
  position: absolute;

  }


  #effectsam:hover .title {
  position:static;
  padding-bottom: 30px;
  }
  #effect:hover .title {
  position:static;
  padding-bottom: 30px;
  }
  #effectolin:hover .title {
  position:static;
  padding-bottom: 30px;
  }
  #effecteng:hover .title {
  position:static;
  padding-bottom: 30px;
  }

 hr{
   width: 461px;
 }


}
