.navbar{
  color: #ffffff;
  background-color: #800020 ;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: bold;
  height:37px;
}
.txt1{
  margin-top: 10px;
}

.logo{
  float:left;
  margin-top: -17px;
}

.aca{
  margin-left: 400px;
  width: 120px;
  float:left;
}

.rea{
  width: 120px;
  float:left;
}

.camp{
  width: 200px;
  float:left;
}


.who{
  width: 120px;
  float:left;
}

body {
  font-size: 14px;
  font-family: libre baskerville;
  margin: 0;
  padding: 0;
}

.academic {
  opacity: 0.9;
  height: 500px;
  width: 1400px;
}




.why{
  text-align: center;
  height: 400px;
  font-weight: bold;
  width : 1400px;
  font-size: 30px;
  margin-top: -25px;
}

.reason{
  margin-top: 20px;
}

.schools{
  width : 1400px;
  text-align: center;
  position: absolute;
  font-size: 14px;
}

.skldes{
  float:left;
  width:350px;
  height: 280px;
  font-weight: bold;
}
.skltxt{
  font-size: 11px;
  text-align: left;
  font-weight: normal;
  color: black;
}

.skldes1{
  float:left;
  border-width: thin;
  width:350px;
  height: 280px;
  color : red;
  font-weight: bold;
}

.lifetxt1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}
